@{
    ViewData["Title"] = "Get";
    }




<h1>Get</h1>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleCreateModal">Create</button>


<div id="load" style="display:none;">Loading...</div>
<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Create date</th>
            <th scope="col">Update date</th>
            <th scope="col">Add Images</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="tbody-Product">
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination" id="table-pagination">
    </ul>
</nav>

<partial name="~/Views/Shared/Partials/_CRUDModal.cshtml" />

<!-- Create  -->
<div class="modal fade" id="exampleCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control c_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="number" class="form-control c_price" id="exampleInputPassword1" placeholder="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Stock</label>
                    <input type="number" class="form-control c_stock" id="exampleInputPassword1" placeholder="Stock">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_create">Create</button>
            </div>
        </div>
    </div>
</div>





<!--  Update -->
<div class="modal fade" id="exampleUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">

                        <input type="hidden" class="form-control u_id">

                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control u_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="number" class="form-control u_price" id="exampleInputPassword1" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Stock</label>
                        <input type="number" class="form-control u_stock" id="exampleInputPassword1" placeholder="Stock">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn_update">Update</button>
            </div>
        </div>
    </div>
</div>







@section Scripts {


    <script src="/js/crud/crud_script.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            loadData(1);
        });
        var _page;
        function loadData(page) {

            _page = page;
            $("#load").show();
            $.ajax({
                type: "get",
                url: "/admin_panel/Product2/loadData",
                data: {page:page},
                contentType: "json",
                success: function (data) {
                    var products = data.products;
                    var count = data.count;
                    $("#tbody-Product").html('');
                    $.each(products, function (index, item) {

                        $('#tbody-Product').append(`
                                <tr>
                                <td>${item.name}</td>
                                <td>${item.price}</td>
                                <td>${item.stock}</td>
                                <td>${item.createDate}</td>
                                <td>${item.updateDate}</td>
                            <td><button type="button" onclick="loadfiledata('/admin_panel/Product2/loadFiles','${item.id}','/admin_panel/Product2/AddFiles','/admin_panel/Product2/RemoveFile')" class="btn btn-primary addimages" data-bs-toggle="modal" data-bs-target="#exampleAddFilesModal">Add Images</button></td>
                                                    <td><button type="button" data-id=${item.id} class="btn btn-primary update" data-bs-toggle="modal" data-bs-target="#exampleUpdateModal">Update</button></td>
                              <td><button type="button" onclick="remove('/admin_panel/Product2/Delete','${item.id}')" class="btn btn-danger row-delete" data-bs-toggle="modal" data-bs-target="#exampleDeleteModal">Del</button></td>
                                </tr>
                                `);


                    });
                    $("#load").hide();

                    $("#table-pagination").html('');
                    var _pagecount = (count % 5 == 0) ? (count / 5) : (count / 5);
                    for (let i = 0; i < _pagecount; i++) {


                        $('#table-pagination').append(
                            `<li class="page-item"><button  type="button" class="page-link" id="idpage" data-page=${(i + 1)}>${(i + 1)}</button></li>`
                        );
                    }
                },
                error: function () {
                    alert("Sehvlik askar edildi!!!");
                    $("#load").hide();
                }

            });
        }
     

        $(document).on("click", ".page-link", function () {
            var page = $(this).data('page');
            loadData(page);
        });


        $(document).on("click", "#tbody-Product .update", function () {
         
            $.ajax({
                type: "Get",
                contentType: "json",
                url: "/admin_panel/Product2/Put?id=" + $(this).data("id"),
                success: function (data) {
                    $(".u_id").val(data.id);
                    $(".u_name").val(data.name);
                    $(".u_price").val(data.price);
                    $(".u_stock").val(data.stock);
                },
                error: function () { alert("eroor!!!") }


            });

        });

        $(".btn_update").click(function () {
            var obj = {
                id: $(".u_id").val(),
                name: $(".u_name").val(),
                price: $(".u_price").val(),
                stock: $(".u_stock").val()

            };
            console.log(obj);
            $.ajax({
                type: "post",
                data: obj,
                url: "/admin_panel/Product2/Put",

                success: function () {
                    loadData(_page);
                    $("#exampleUpdateModal").modal("hide");
                },
                error: function () { alert("error!!!"); }

            });

        });


        $(".btn_create").click(function () {
            var product = {
                name: $(".c_name").val(),
                price: $(".c_price").val(),
                stock: $(".c_stock").val()
            };
            $.ajax({
                type: "post",
                url: "/admin_panel/Product2/Post",
                data: product,
                success: function () {
                    $("#exampleCreateModal").modal("hide");
                    loadData(_page);
                },
                error: function () {
                    alert("Error!!!");
                }



            });

        });

      
    </script>

}